/.idea
/.vscode
/last-failed-e2e-test.*

node_modules
npm-debug.log
coverage/
playwright-report/
test-results/
server/test/playwright/playwright-report/
server/test/playwright/test-results/
.DS_Store
dump.rdb
deploy/netcup/.env
deploy/netcup/secrets/
