TRAEFIK_IMAGE=
MARIADB_IMAGE=
REDIS_IMAGE=
MONGO_IMAGE=
MAILTRAIN_IMAGE=
MAILTRAIN_SECRET_GID=10001
TRAEFIK_UID=65532
TRAEFIK_GID=65532
MAILTRAIN_TRUSTED_HOST=
MAILTRAIN_SANDBOX_HOST=
MAILTRAIN_PUBLIC_HOST=
ACME_EMAIL=
MAILTRAIN_MASTER_KEY_ID=
DB_ROOT_SECRET_FILE=
DB_MIGRATION_SECRET_FILE=
DB_RUNTIME_SECRET_FILE=
DB_REPORT_SECRET_FILE=
DB_CA_FILE=
DB_SERVER_CERT_FILE=
DB_SERVER_KEY_FILE=
REDIS_SECRET_FILE=
MONGO_ROOT_SECRET_FILE=
MONGO_SECRET_FILE=
MAILTRAIN_ADMIN_SECRET_FILE=
MAILTRAIN_SESSION_SECRET_FILE=
MAILTRAIN_MASTER_KEY_FILE=
TRAEFIK_ACME_FILE=
